
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>	

	<div class="sectionOne text-center"> 

		<div class="logo">
			<img alt="Logo s" src="/system/photos/images/5420/ad2f/544f/5204/0301/0000/original/logo_s.jpg?1411427631">
		</div>
		<div class="textlogo">
			<img alt="Text logo rast s" src="/system/photos/images/5420/b3e8/544f/5204/0302/0000/original/text_logo_rast_s.jpg?1411429352"> 
		</div>

	</div>

	<div class="sectionTwo"> 

	<div class="testblock">
	&nbsp;
	</div>

	</div>

	<div class="sectionThree"> 

	<h2>Clients:</h2>

	<div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/6ed5/544f/5202/6f0d/0000/original/Rolling-Stone-logo-s.jpg?1411608277" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/6fa8/544f/5202/6f0e/0000/original/GQ_logo_S.jpg?1411608488" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/7042/544f/5202/6f0f/0000/original/blackbook_logo_s.jpg?1411608642" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/712a/544f/5202/6f11/0000/original/Q_logo_small.jpg?1411608874" class="thumb" alt="Photo 1">
    </a>
    <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/7265/544f/5202/6f12/0000/original/NME_s.jpg?1411609189" class="thumb" alt="Photo 1">
    </a>
    <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/7305/544f/5202/6f13/0000/original/TimeOutChicago_logo_s.jpg?1411609349" class="thumb" alt="Photo 1">
    </a>
  </div>

  <div class="footer">

  <div class="text-left footleft">
  <a href="http://www.apple.com"><img src="http://localhost:3000/system/photos/images/5423/64e4/544f/5202/6f06/0000/original/applelogo.jpg?1411605732" /></a>

  <a href="http://www.adobe.com"><img src="http://localhost:3000/system/photos/images/5423/68a1/544f/5202/6f08/0000/original/Adobe_logo.jpg?1411606689" /></a>

  <a href="http://www.usa.canon.com/cusa/consumer/products/cameras/slr_cameras/eos_1d_x"><img src="http://localhost:3000/system/photos/images/5423/6ada/544f/5202/6f0a/0000/original/canon_logo.jpg?1411607258" /></a>

  <a href="http://www.urbanears.com/"><img src="http://localhost:3000/system/photos/images/5423/6bc1/544f/5202/6f0b/0000/original/Urbanears_logo_s.jpg?1411607489" /></a>

  </div>
  </div>
  <div class="text-center footcent">
  	&copy; TOR3Y 2014
  </div>
  <div class="pull-right footright">
  	Terms of Agreement
  </div>
 
  </div>



	</div>




<script type="text/javascript">
document.addEventListener(function() {
  $('.galimg').masonry({
    columnWidth: 20,
    itemSelector: '.thumb'
  });
});


$('#links').onClick = function (event) {
  event = event || window.event;
   var target = event.target || event.srcElement,
     link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>






