
<div class="text-center">

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">

    <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/0c4c/544f/5202/6f02/0000/original/mark2.jpg?1411583052" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/1723/544f/5202/6f05/0000/original/mark2_s.jpg?1411585827" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/daa3/544f/5202/3f0f/0000/original/luc_lg.jpg?1411635875" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d711/544f/5202/3f00/0000/original/luc.jpg?1411634961" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dadb/544f/5202/3f10/0000/original/Fran_July_5_2011_lg.jpg?1411635931" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d768/544f/5202/3f01/0000/original/Fran_July_5_2011.JPG?1411635048" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/db0c/544f/5202/3f11/0000/original/bf_sinatra_lg.jpg?1411635980" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d795/544f/5202/3f02/0000/original/bf_sinatra_s.jpg?1411635093" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/db33/544f/5202/3f12/0000/original/mark_lg.jpg?1411636019" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/d7ce/544f/5202/3f03/0000/original/Mark_S.jpg?1411635150" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/db5c/544f/5202/3f13/0000/original/dk_lg.jpg?1411636060" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d800/544f/5202/3f04/0000/original/dk_thumb.jpg?1411635200" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/db8d/544f/5202/3f14/0000/original/florence_lg.jpg?1411636109" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d832/544f/5202/3f05/0000/original/florence.jpg?1411635250" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dbbf/544f/5202/3f15/0000/original/bf_cadillac_lg.jpg?1411636159" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d860/544f/5202/3f06/0000/original/bf_cadillac_s.jpg?1411635296" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dbe7/544f/5202/3f16/0000/original/rv_lg.jpg?1411636199" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/d8c2/544f/5202/3f08/0000/original/rv_s.jpg?1411635394" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dc0e/544f/5202/3f17/0000/original/bf_lou_lg.jpg?1411636238" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d912/544f/5202/3f09/0000/original/bf_lou_s.jpg?1411635474" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dc45/544f/5202/3f18/0000/original/dk_crowd.jpg?1411636293" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d945/544f/5202/3f0a/0000/original/dk_crowd.jpg?1411635525" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dc79/544f/5202/3f19/0000/original/bf_d_lg.jpg?1411636345" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d978/544f/5202/3f0b/0000/original/bf_d.jpg?1411635576" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dcbf/544f/5202/3f1a/0000/original/bf_bb_lg.jpg?1411636415" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/d9bf/544f/5202/3f0c/0000/original/bf_bb_s.jpg?1411635647" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dceb/544f/5202/3f1b/0000/original/bf_bass_lg.jpg?1411636459" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/d9f9/544f/5202/3f0d/0000/original/bf_Bass.jpg?1411635705" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/dd16/544f/5202/3f1c/0000/original/bf_mirror_lg.jpg?1411636502" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/da42/544f/5202/3f0e/0000/original/bf_mirror.jpg?1411635778" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/aaad/544f/520a/9809/0000/original/bf-sad.jpg?1411623596 " title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/aa3f/544f/520a/9808/0000/original/bf-sad_s.jpg?1411623487" class="thumb" alt="Photo 1">
    </a>
  </div>


</div>




<!-- <input class="checkme" type="checkbox" value="option"> -->


</div>
<br /><br />

<!-- <button class="myblue btn btn-default btn-lg dropdown-toggle" type="button" >
    Submit
  </button>

<br /><br />

 -->
 <script type="text/javascript">
document.addEventListener(function() {
  $('#links').masonry({
    columnWidth: 20,
    itemSelector: '.thumb'
  });
});


$('#links').onClick = function (event) {
  event = event || window.event;
   var target = event.target || event.srcElement,
     link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>
