 <div class="text-center">

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">

    <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e90f/544f/5202/3f2e/0000/original/gate_lg.jpg?1411639567" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/e5bb/544f/5202/3f1e/0000/original/gate_s.jpg?1411638715" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e933/544f/5202/3f2f/0000/original/dk_dk_lg.jpg?1411639603" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e60f/544f/5202/3f1f/0000/original/dk_dk_s.jpg?1411638799" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e955/544f/5202/3f30/0000/original/rv_bball_lg.jpg?1411639637" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e648/544f/5202/3f20/0000/original/rv_bball_s.jpg?1411638856" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e974/544f/5202/3f31/0000/original/coke_lg.jpg?1411639668" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e66c/544f/5202/3f21/0000/original/coke.jpg?1411638892" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e99f/544f/5202/3f32/0000/original/phill_lg.jpg?1411639711" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/e69b/544f/5202/3f22/0000/original/phil_s.jpg?1411638939" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/e9f6/544f/5202/3f33/0000/original/Great_Wall_Of_China_lg.jpg?1411639798" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e6cc/544f/5202/3f23/0000/original/Great_Wall_Of_China_s.jpg?1411638988" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ea1e/544f/5202/3f34/0000/original/rv_matt_lg.jpg?1411639838" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e6f8/544f/5202/3f24/0000/original/rv_Matt_s.jpg?1411639032" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ea45/544f/5202/3f35/0000/original/me_lg.jpg?1411639877" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e72f/544f/5202/3f25/0000/original/me_s.jpg?1411639087" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ea7b/544f/5202/3f36/0000/original/bono_lg.jpg?1411639931" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/e752/544f/5202/3f26/0000/original/bono_s.jpg?1411639122" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/eab3/544f/5202/3f37/0000/original/bf_wall_lg.jpg?1411639987" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e7a7/544f/5202/3f27/0000/original/bf_wall_s.jpg?1411639207" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/eb4c/544f/5202/3f38/0000/original/TOR_4645_lg.jpg?1411640140" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e7d1/544f/5202/3f28/0000/original/TOR_4645.JPG?1411639249" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/eb76/544f/5202/3f39/0000/original/bf_tv_lg.jpg?1411640182" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e802/544f/5202/3f29/0000/original/bf_tv_s.jpg?1411639298" class="thumb" alt="Photo 1">
    </a>
  </div>
      <div class="row myrow">
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/eb9b/544f/5202/3f3a/0000/original/rv_cowboy_lg.jpg?1411640219" id="galimg" title="Photo 1" data-gallery>
        <img src="http://localhost:3000/system/photos/images/5423/e844/544f/5202/3f2a/0000/original/rv_cowboy_s.jpg?1411639364" class="thumb" alt="Photo 1">
      </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ebbc/544f/5202/3f3b/0000/original/rv_hero_lg.jpg?1411640252" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e86d/544f/5202/3f2b/0000/original/rv_hero_s.jpg?1411639405" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ebdf/544f/5202/3f3c/0000/original/rv_sa_lg.jpg?1411640287" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/e88c/544f/5202/3f2c/0000/original/rv_sa_s.jpg?1411639436" class="thumb" alt="Photo 1">
    </a>
      <a class="galimg" href="http://localhost:3000/system/photos/images/5423/ec04/544f/5202/3f3d/0000/original/paul_big.jpg?1411640324" id="galimg" title="Photo 1" data-gallery>
      <img src="http://localhost:3000/system/photos/images/5423/ec2d/544f/5202/3f3e/0000/original/paul_lg.jpg?1411640365" class="thumb" alt="Photo 1">
    </a>
  </div>


</div>




<!-- <input class="checkme" type="checkbox" value="option"> -->


</div>
<br /><br />

<!-- <button class="myblue btn btn-default btn-lg dropdown-toggle" type="button" >
    Submit
  </button>

<br /><br />

 -->
 <script type="text/javascript">
document.addEventListener(function() {
  $('#links').masonry({
    columnWidth: 20,
    itemSelector: '.thumb'
  });
});


$('#links').onClick = function (event) {
  event = event || window.event;
   var target = event.target || event.srcElement,
     link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>
